extends layout

block content
  h1= title
  p Welcome to the #{title}. See /docs for more information on the API routes
  h3 Routes
  div /register
  div /login
  div /search
  div /offences
  div /areas
  div /ages
  div /genders
  div /years
  div /months
  div /docs
  br
  div By Liam Brock
  div n9955038
